services:
  app:
    build:
      context: .
      args:
        # Thay đổi BUILD_VERSION để force rebuild khi code thay đổi
        BUILD_VERSION: ${BUILD_VERSION:-1.0.0}
    container_name: insight_web
    # ports:
    #   - "8080:8080"
    environment:
      SERVER_PORT=8080
      SPRING_DATASOURCE_URL: jdbc:mariadb://db:3306/techshield_insight
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 281003
      SPRING_JPA_HIBERNATE_DDL_AUTO: none
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hrm-service.rule=Host(`hrm.techshield.cloud`)"
      - "traefik.http.routers.hrm-service.entrypoints=websecure"
      - "traefik.http.routers.hrm-service.tls.certresolver=letsencrypt"
      - "traefik.http.services.hrm-service.loadbalancer.server.port=8080"
    depends_on:
      - db
    restart: always
    networks:
      - proxy

  db:
    image: mariadb
    container_name: insight_db
    environment:
      MYSQL_ROOT_PASSWORD: 281003
      MYSQL_DATABASE: techshield_insight
    # ports:
    #   - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    networks:
      - proxy

volumes:
  db_data:
networks:
  proxy:
    external: true